@model StoreFront.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="m-3">
    <h1 class="text-light">Delete</h1>

    <h3 class="text-light">Are you sure you want to delete this?</h3>
</div>
<div>
    <h4 class="text-light">@Model.CategoryName</h4>
    <hr />
    <dl class="row text-light m-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="m-3">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-sm btn-secondary">Back to Categories</a>
    </form>
</div>
