@model StoreFront.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1 class ="text-light m-3">Details</h1>

<div class="m-5">
    <h4 class="text-light">@Model.CategoryName</h4>
    <hr />
    <dl class="row text-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div class="m-3">
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-sm btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-sm btn-secondary">Back to Categories</a>
</div>
